
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.svg-icon {
    width: 2em;
    height: 2em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
body{
    background-image: url(BackGround1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-width: 300px;
}
#butt{
    background-color: rgba(255,255,255,0);
}
.form{
    display:flex;
    justify-content: flex-end;
}

#search{
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#error{
    font-size:30px;
}

form button{
    margin-left: 2%;
}

input[type="text"] {
    height: 30px;
    border:none;
    background-color: #37393d;
    color: #d7d0c7;
}

button img{
    height: 15px;
}

button{
    border: none;
    /* background-color: black; */
}


#city{
    /* background-color:white; */
    color: white;
    display:flex;
    margin-top: 3%;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    margin-left: 2%;
}

#details{
    color: white;
    margin-top: 3%;
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#values{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: 2%;
    margin-left: 2px;
    height: 50px;
}

#temp{
    margin: 2%;
    margin-right: 2px;
    color: #ccc;
    font-size:90px;
    font-family: 'Rock Salt', cursive;
}

#line{
    margin: 2%;
    /* margin-top: 3%;
    border-left: 6px solid green;
    height: 30px; */
}

#weather{
    font-size: 20px;
}

#error{
    font-size: 25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
    margin-right: 7%;
    text-align: right;
    color: #271030;
}



